@using BluForTracker.Client.Shared.Services
@using BluForTracker.Shared
@using Microsoft.AspNetCore.SignalR.Client
@using Microsoft.JSInterop
@implements IAsyncDisposable

<div @ref="_screenLockOverlayElement" id="screen-lock-overlay" class="display-none"></div>
<div id="main-view-container">
    <table id="button-row">
        <tr>
            <td>
                <button class="main-view-button @(_currentTab == Tab.Map ? "main-view-button-selected" : "")" @onclick="() => ChangeTab(Tab.Map)">Map</button>
            </td>
            <td>
                <button class="main-view-button @(_currentTab == Tab.Teams ? "main-view-button-selected" : "")" @onclick="() => ChangeTab(Tab.Teams)">Teams</button>
            </td>
            <td>
                <button class="main-view-button @(_currentTab == Tab.Settings ? "main-view-button-selected" : "")" @onclick="() => ChangeTab(Tab.Settings)">Settings</button>
            </td>
            <td @ref="_lockScreenButtonContainerElement" class="width-60 display-none">
                <button @ref="_lockScreenButtonElement" class="main-view-button" @onclick="() => LockScreen()"><img alt="Lock" src="_content/BluForTracker.Client.Shared/images/lock.svg" /></button>
            </td>
        </tr>
    </table>
    <div id="main-view">
        <div class="@(_currentTab == Tab.Teams ? "tab-view-container" : "display-none")">
            <TeamsView @ref="_teamsViewRef"></TeamsView>
        </div>
        <div class="@(_currentTab == Tab.Settings ? "tab-view-container" : "display-none")">
            <SettingsView OnValidSubmitCallback="OnValidSubmitCallback"></SettingsView>
        </div>
        <div id="map-view-container" class="@(_currentTab == Tab.Map ? "" : "map-view-container-open-tab")">
            <MapView @ref="_mapViewRef"></MapView>
        </div>
    </div>
</div>

@code {
    enum Tab
    {
        Map,
        Settings,
        Teams
    }

    [Inject] public required SignalRHubConnectionService HubConnectionService { get; set; }
    [Inject] public required AppStateService AppState { get; set; }
    [Inject] public required IJSRuntime JSRuntime { get; set; }

    Tab _currentTab = Tab.Settings;
    void ChangeTab(Tab tab) => _currentTab = AppState.GetUser().IsValid() ? tab : Tab.Settings;
    IJSObjectReference? _mainModuleJs = default!;
    ElementReference? _lockScreenButtonContainerElement = default!;
    ElementReference? _lockScreenButtonElement = default!;
    ElementReference? _screenLockOverlayElement = default!;
    TeamsView _teamsViewRef;
    MapView _mapViewRef;

    void LockScreen()
    {
        if (_mainModuleJs == null) return;
        _mainModuleJs.InvokeVoidAsync("requestFullscreen");
    }

    void OnValidSubmitCallback() => ChangeTab(Tab.Map);

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            var collocatedJs = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./_content/BluForTracker.Client.Shared/Components/MainView.razor.js");
            _mainModuleJs = await collocatedJs.InvokeAsync<IJSObjectReference>("CreateMainModule");
            await _mainModuleJs.InvokeAsync<bool>("tryAllowFullscreen", _lockScreenButtonContainerElement, _lockScreenButtonElement, _screenLockOverlayElement);

            var hubConnection = await HubConnectionService.GetHubConnection();

            hubConnection.On<List<TeamRoster>>("ReceiveTeamRosters", _teamsViewRef.OnReceiveTeamRosters);
            hubConnection.On("TeamRosterChanged", _teamsViewRef.OnTeamRosterChanged);
            hubConnection.On<Guid>("JoinedTeam", _teamsViewRef.OnJoinedTeam);

            hubConnection.On<string>("ReceiveConnectionId", _mapViewRef.OnReceiveConnectionId);
            hubConnection.On<List<User>>("ReceiveTeam", _mapViewRef.OnReceiveTeam);
            hubConnection.On<User>("ReceiveTeamMember", _mapViewRef.OnReceiveTeamMember);
            hubConnection.On<string, MapMarker>("ReceiveMapMarker", _mapViewRef.OnReceiveMapMarker);
            hubConnection.On<string>("RemoveTeamMember", _mapViewRef.OnRemoveTeamMember);
            hubConnection.On<string, string, string, InfoMarker>("ReceiveInfoMarker", _mapViewRef.OnReceiveInfoMarker);
        }
    }

    

    public async ValueTask DisposeAsync()
    {
        if(_mainModuleJs != null)
        {
            await _mainModuleJs.DisposeAsync();
        }
    }
}