@using Microsoft.AspNetCore.Components.Forms
@namespace BluForTracker.Client.Shared.Components

<div class="container-fluid">
    @if (_teamRosters.Count == 0)
    {
        <h3>Loading...</h3>
    } else
    {
        @foreach(var teamRoster in _teamRosters)
        {
            <div class="row rounded-1 border border-black mb-3">
                <div class="h5 pb-2 mb-4 text-black border-bottom border-black text-center" style="padding: 0 !important;">
                    @if(AppStateService.GetUser().TeamId == teamRoster.Id)
                    {
                        @teamRoster.Name
                    } else
                    {
                        <div class="d-grid gap-2">
                            <button type="button" class="btn btn-primary" @onclick="() => JoinTeamClicked(teamRoster.Id)">Join @teamRoster.Name</button>
                        </div>
                    }
                </div>
                <table class="table is-bordered">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Active</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach(var userInfo in teamRoster.UserInfos)
                    {
                        <tr style="box-shadow: inset 0px 0px 14px 0px @userInfo.Color">
                            <td>@userInfo.Username</td>
                            <td>@userInfo.IsActive</td>
                            @if(AppStateService.GetUser().TeamId == teamRoster.Id) {
                                <td><button type="button" class="button is-danger" @onclick="() => RemoveUser(userInfo.ConnectionId)">Remove</button></td>
                            }
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        }
        
        <div class="row">
            <EditForm Model="_formData" OnValidSubmit="OnValidSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="form-floating mb-3">
                    <InputText @bind-Value="_formData.TeamName" id="teamname" class="form-control" required />
                    <label for="teamname">Team Name (Max @TeamFormModel.TeamNameMaxChars characters)</label>
                </div>
                <button type="submit" class="btn btn-primary mb-3">Create Team</button>
            </EditForm>
        </div>

    }
</div>